ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
ASSETCATALOG_COMPILER_INCLUDE_ALL_APPICON_ASSETS=YES
CODE_SIGN_ENTITLEMENTS=ProjectNewShoe/ProjectNewShoe.entitlements
CODE_SIGN_STYLE=Automatic
DEVELOPMENT_ASSET_PATHS="ProjectNewShoe/Preview Content"
DEVELOPMENT_TEAM=TLD24BM42Z
ENABLE_PREVIEWS=YES
INFOPLIST_FILE=ProjectNewShoe/Info.plist
IPHONEOS_DEPLOYMENT_TARGET=14.0
PRODUCT_BUNDLE_IDENTIFIER=com.unieklee.ProjectNewShoe
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1

LD_RUNPATH_SEARCH_PATHS[config=Debug]=["$(inherited)", "@executable_path/Frameworks"]
LD_RUNPATH_SEARCH_PATHS[config=Release]=["$(inherited)", "@executable_path/Frameworks"]